<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h5 class="title">Buy Ticket</h5></div>
      <div class="card-body">
        <form [formGroup]="buyTicketForm">
          <div class="mb-3">
            <label for="seatNumber">Seat Number</label>
            <div class="form-group">
              <input type="text"
                     id="seatNumber"
                     formControlName="seatNumber" class="form-control"
                     placeholder="Seat Number "/>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-primary" (click)="takeTicket()">Take Ticket</button>
      </div>
    </div>
  </div>
</div>
